.editor-sider-container {
  width: 250px;
  border-right: 1px solid #d9d9d9;
  background-color: #eef0f5;

  user-select: none;

  .article-list-container {
    padding: 0;
    height: calc(100vh - 32px);
    .article-item {
      padding: 0;
      .article-item-top {
        padding: 8px 16px 4px;
        width: 100%;
      }
      .article-lock-icon {
        /* margin-top: 4px; */
        margin-right: 5px;
      }
      .article-title {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 180px;
      }
      .article-time {
        font-size: 11px;
        padding: 0 16px 8px;
        color: rgba(0, 0, 0, 0.4);
        width: 100%;
      }
    }
  }
}
